@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Francois One", sans-serif;
    background-color: rgb(14, 12, 12);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; 
    background-color: rgb(29, 29, 29);

    
}
.navigation-bar{
    display: flex;
    gap: 40px;
    font-size: 1.5rem;
    font-weight: bold;
}
.logo{
    font-weight: bold;
    font-size: 2.5rem;
    border:5px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

/* Main Content Styling */
.mainContent{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 80px;
    border: 3px solid orangered;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-top: 10%;
    

}
.heroContent img{
    width: 30%;
    height: 30%;
}
.heroContent h1{
    margin-top: 8%;
}
.heroContent{
    display: flex;
    justify-content: space-between;
}
.heroContent h1{
    font-size: 4rem;
}
.sub-text{
    font-size: 2rem;
    margin-top: 10px;
    color: burlywood;
}
.sub-text a{
    color:red;
}

.more-info{
    width: 100vw;
    
    background-color: black;
  text-align: center;
}
.more-info-content {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.more-info-content h1 {
    font-size: 6rem;
}

.more-info-content p {
    font-size: 2rem;
}
.attraction{
    font-weight: 5rem;

}
.attracts h1 {
    color: grey;
    font-size: 5rem;
}

.attracts h2 {
    color: grey;
    font-size: 5rem; 
}

.attracts h3 {
    font-size: 5rem;
    color: grey;
    
}
.attracts p {
    font-size: 2rem;
    color: burlywood ;
}
.attracts img{
    width: 60%;
    height: 60%;
}
.attracts a{
    color: orangered;
}

/* styling for fees.html */
.fees{
    margin-top: 80px;
    height: 80vh;
}
.fees h1{
    font-size: 8rem;
    text-align: center;
}
.fees p{
    font-size: 3rem;
    text-align: center;
    margin-top: 10%;
    
}
.fees a{
    color: orangered;
}

.basic h1, .basic h2, .basic h3, .basic h4, .basic h5 {
    font-size: 3rem;
    color: #d0cdcd;
    margin-bottom: 10px;
  }
  .basic p{
    font-size: 1.8rem;
    color: #7ea8bd;
    margin-left: 20px;
  }
  .plans {
    display: flex;
    justify-content: space-between; 
    margin-top: 10%;
}

.sub-text {

    padding: 20px;

}

.image-container {
    
    display: flex;
    justify-content: center; 
}

.image-container img {
    max-width: 100%;
    height: auto;
    width: 80%;
    height: 80%;
}

.fee-structure{
    text-align: center;
    font-size: 5rem;
    color: white;
}
#offer{
    text-align: center;
    color: #d0cdcd;
}
.still-unsure{
    font-size: 2rem;
    color: silver;
    margin-top: 10%;
}
.still-unsure a{
    color: orangered;
}